html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-bottom: 20;
    font-family: 'Dongle', sans-serif;
    background-color: black;
    color: whitesmoke;
}

.iframebox {
    position: relative;
    width:100%;
    padding-bottom: 50%;
}

.iframebox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframeaud iframe {
    position: absolute;
    width: 300px;
    height: 300px;
}

.ileft {
    background-color: black;
    float: left;
    padding-right: 10px;
}

.iright {
    width: 1200px;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

img {
    margin-bottom: 20px;
}

.cover div{
    display: inline-block;
    height: 400px;
    margin-left: 20px;
}

.left {
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    background-color: black;
    float: left;
}

.right {
    width: 1200px;
}

footer {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

