html {
    box-sizing: border-box;
}

head {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    background-color: black;
    color: whitesmoke;
}

.iframebox {
    position: relative;
    width:100%;
    padding-bottom: 50%;
}

.iframebox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframeaud iframe {
    position: absolute;
    width: 300px;
    height: 300px;
}

.ileft {
    background-color: black;
    float: left;
    padding-right: 10px;
}

.iright {
    width: 1200px;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.h1s div {
    padding-left: 30px;
    padding-right: 30px;
}

.imgs img{
    width: 400px;
    height: 400px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.part img {
    margin: 0%;
    max-width: 100%;
}

.bigfont font {
    margin-left: 20px;
}

footer {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

